@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  animation: slideAnim 30s linear infinite;
}

@keyframes slideAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-305px * 9));
  }
}
